<div class="sidebar">

<h3>Menu</h3>

<ul>

<li><a href="../dashboard.html">Dashboard</a></li>
<li><a href="../pages/farm.html">Farm</a></li>
<li><a href="../pages/animals.html">Animals</a></li>
<li><a href="../pages/disease-detection.html">Disease Detection</a></li>
<li><a href="../pages/vaccination.html">Vaccination</a></li>
<li><a href="../pages/outbreak-map.html">Outbreak Map</a></li>
<li><a href="../pages/community.html">Community</a></li>
<li><a href="../pages/training.html">Training</a></li>

</ul>

</div>