<div class="sidebar">

  <h3 data-i18n="sidebar.menu">Menu</h3>

  <ul>
    <li><a href="../dashboard.html" data-i18n="sidebar.dashboard">Dashboard</a></li>
    <li><a href="../pages/farm.html" data-i18n="sidebar.farm">Farm</a></li>
    <li><a href="../pages/animals.html" data-i18n="sidebar.animals">Animals</a></li>
    <li><a href="../pages/disease-detection.html" data-i18n="sidebar.diseaseDetection">Disease Detection</a></li>
    <li><a href="../pages/vaccination.html" data-i18n="sidebar.vaccination">Vaccination</a></li>
    <li><a href="../pages/outbreak-map.html" data-i18n="sidebar.outbreakMap">Outbreak Map</a></li>
    <li><a href="../pages/community.html" data-i18n="sidebar.community">Community</a></li>
    <li><a href="../pages/training.html" data-i18n="sidebar.training">Training</a></li>
  </ul>

</div>